.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 1vw;
}

#left {
    width: 40vw;
    background-color: grey;
    background-image: url("https://images.unsplash.com/photo-1581110881163-f207f3d40ec6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80");
    background-size: cover;
    height: 100vh;
    flex: auto;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#right {
    width: 60vw;
    height: 100vh;
    flex: auto;
}

#right-top {
    height: 40vh;
    background-color: #36454F;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 17vw;
    color: #C9BAB0;
}

#right-middle {
    position: relative;
    height: 30vh;
    background-color:#928E85;
    display: flex;
    flex-direction: column;
    color: #21201e;
}

#right-bottom {
    height: 30vh;
    background-color: #708090; 
    color: #21201e;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.row {
    display: flex;
    flex-direction: column;
}

input {
    size: 100;
}

#main_form {
    display: flex;
    gap: 5em;
    padding-left: 3rem;
}

#form_heading {
    padding-left: 3rem;
    margin-left: 0;
}

h2 {
    padding-left: 3rem;
}

/* preuzeto iz lekcije o stilovima formi - testirati */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  border-radius: 5px;
}
/* 
input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

#submit_button {
    padding: 10px;
    font-weight: bold;
    background-color: crimson;
    color: white;
    margin-left: 3rem;
    margin-top: 2rem;
}

#login {
    margin-left: 3rem;
    margin-top: 2rem;
}

.logo_holder {
    position: absolute;
    top: 17vh;
    background-color: black;
    opacity: 0.6;
    width: 40vw;
    height: auto;
    box-sizing: border-box;
    /* margin: 0 auto; */
}

.logo_holder > img {
    padding-left: 1vw;
    padding-right: 1vw;
}

.outer {
    display: flex;
    gap: 5rem;
}

#match {
    color: red;
}

#requiredfields {
    position: absolute;
    bottom: 1px;
    left: 1px;
    font-size: 15px;
}

#left p {
    color: #ffffff88;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    margin-bottom: 1vh;
}

#left p a {
    color: #ffffff88;
    text-decoration: none;
}