.main {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-size: 1vw;
}

#left {
    width: 40vw;
    background-color: grey;
}

#right {
    width: 60vw;
}

#right-top {
    height: 40vh;
    background-color: aqua;
}

#right-middle {
    height: 30vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}

#right-bottom {
    height: 30vh;
    background-color: yellowgreen;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.row {
    display: flex;
    flex-direction: column;
}

input {
    size: 100;
}

#main_form {
    display: flex;
    gap: 5em;
    padding-left: 2rem;
}

#form_heading {
    padding-left: 2rem;
    margin-left: 0;
}

/* preuzeto iz lekcije o stilovima formi - testirati */
/* button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */